node_modules
.next
__generated__
dist
app/coverage/
chart/**/charts/
.scratch*
cypress.env.json
.env

.vscode/*.log

app/cypress.env.json
dev/db/data
**/.DS_Store

# Terraform files from local and migration runs
.terraform/
*.tfstate
*.tfvars
.terraform.lock.hcl
credentials.json
terraform/*.sh
