.next/
__generated__/
dist/
*.min.css
schema/schema.json
schema/schema.graphql
coverage
../chart/**/templates/**/*.yaml
../database_backup_test/**/templates/**/*.yaml
../database_backup_test/**/*.yaml
