apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ template "cas-cif.fullname" . }}-db-init
  labels:
    release: {{ .Release.Name }}
{{ include "cas-cif.labels" . | indent 4 }}
spec:
  suspend: true # This cron job is intended to be triggered manually
  schedule: "* * * * *"
  jobTemplate:
    spec:
      backoffLimit: 0
      activeDeadlineSeconds: 600
      template:
        metadata:
          labels:
            name: {{ template "cas-cif.fullname" . }}-db-init
            release: {{ .Release.Name }}
{{ include "cas-cif.labels" . | indent 12 }}
        spec:
          restartPolicy: Never
          containers:
            - env:
                - name: PGDATABASE
                  value: postgres
                - name: PGUSER
                  value: postgres
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: password-superuser
                      name: {{ template "cas-cif.fullname" . }}-patroni
                - name: PGPORT
                  value: "5432"
                - name: PGHOST
                  value: {{ template "cas-cif.fullname" . }}-patroni
                - name: CIF_USER
                  valueFrom:
                    secretKeyRef:
                      key: database-owner-user
                      name: {{ template "cas-cif.fullname" . }}
                - name: CIF_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: database-owner-password
                      name: {{ template "cas-cif.fullname" . }}
                - name: CIF_DATABASE
                  valueFrom:
                    secretKeyRef:
                      key: database-name
                      name: {{ template "cas-cif.fullname" . }}
              name: {{ template "cas-cif.fullname" . }}-db-init
              image: {{ .Values.image.psql.repository }}:{{ default .Values.defaultImageTag .Values.image.psql.tag }}
              imagePullPolicy: {{ default .Values.defaultImagePullPolicy .Values.image.psql.pullPolicy }}
              resources:
                limits:
                  cpu: 1000m
                  memory: 128Mi
                requests:
                  cpu: 100m
                  memory: 64Mi
              command:
                - /usr/bin/env
                - bash
                - -c
                - |
                  set -euo pipefail;
                  create-user-db -d $(CIF_DATABASE) -u $(CIF_USER) -p $(CIF_PASSWORD) --owner;
                  alter-role $(CIF_USER) createrole;
                  psql -d $(CIF_DATABASE) -v "ON_ERROR_STOP=1"<<EOF
                    create extension if not exists postgres_fdw;
                    grant usage on foreign data wrapper postgres_fdw to $(CIF_USER);
                  EOF
---
{{- if .Values.db.preInitCommand }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "cas-cif.fullname" . }}-db-pre-upgrade
  labels: {{ include "cas-cif.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-upgrade
spec:
  backoffLimit: 0
  activeDeadlineSeconds: 300
  template:
    metadata:
      labels: {{ include "cas-cif.labels" . | nindent 8 }}
      name: {{ template "cas-cif.fullname" . }}-db-pre-upgrade
    spec:
      restartPolicy: Never
      containers:
        - env:
            - name: PGDATABASE
              value: postgres
            - name: PGUSER
              value: postgres
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  key: password-superuser
                  name: {{ template "cas-cif.fullname" . }}-patroni
            - name: PGPORT
              value: "5432"
            - name: PGHOST
              value: {{ template "cas-cif.fullname" . }}-patroni
            - name: CIF_USER
              valueFrom:
                secretKeyRef:
                  key: database-owner-user
                  name: {{ template "cas-cif.fullname" . }}
            - name: CIF_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-owner-password
                  name: {{ template "cas-cif.fullname" . }}
            - name: CIF_DATABASE
              valueFrom:
                secretKeyRef:
                  key: database-name
                  name: {{ template "cas-cif.fullname" . }}
          name: {{ template "cas-cif.fullname" . }}-db-pre-upgrade
          image: {{ .Values.image.psql.repository }}:{{ default .Values.defaultImageTag .Values.image.psql.tag }}
          imagePullPolicy: {{ default .Values.defaultImagePullPolicy .Values.image.psql.pullPolicy }}
          resources:
            limits:
              cpu: 1000m
              memory: 128Mi
            requests:
              cpu: 100m
              memory: 64Mi
          command:
            - /usr/bin/env
            - bash
            - -c
            - |
              set -euo pipefail;
{{ .Values.db.preInitCommand | indent 14 }}
{{- end}}
